<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title></title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
    <link href="https://cdn.bootcss.com/jquery-mobile/1.4.5/jquery.mobile.theme.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
    <script src="/js/jquerymobile_popup.js" th:src="@{/js/jquerymobile_popup.js}"></script>
    <script type="text/javascript">

        $(function () {
            //加载课题类别
            LoadMeetingType();
            LoadMeetinGrabList("-1");
        })

        //类型改变时
        function showAllGrabs(tname){
            LoadMeetinGrabList(tname);
        }


        //加载可枪单的列表
        function LoadMeetinGrabList(tname) {
            var uid = $("#uid").val();
            $("#grabNum").empty();
            $("#grabDiv").empty();
            $.ajax({
                type: "post",
                url: "[[@{/meetingpub/grabList}]]",
                data: {"uid": uid,"tname":tname},
                success: function (msg) {
                    var appendHtml = "";
                    $("#grabNum").append(msg.length);
                    for (var i=0;i<msg.length;i++) {
                        //pid
                        var pid=msg[i].id
                        appendHtml += "<div style='width: 100%;background-color: white;margin-top: -3px;padding:10px 10px 10px 15px;display: inline-block;'>" +
                            "<div style='width: 70%;float: left;' onclick='showMeetingInfo(\"" + 1 + "\");'>" +
                            "<div style='white-space: nowrap;overflow: hidden;text-overflow:ellipsis;display: block;font-size:18px;'>" +
                            msg[i].ptitle + "</div>" +
                            "<div style='white-space: nowrap;overflow: hidden;text-overflow:ellipsis;display: block;color: #777777;font-size:16px;padding-top:1px'>" +
                            msg[i].remark + " / " + msg[i].pcode + "</div></div>" +
                            "<div style='width: 30%;float: right;'>" +
                            "<button class='able-btn'  onclick='meetingGradAdd(\""+pid+"\")'>可抢单</button></div></div>";
                    }                                           //meetingGrabAdd("1")
                    $("#grabDiv").append(appendHtml);

                }
            });
        }


        //抢单功能功能的实现
        function meetingGradAdd(pid) {
            //alert(pid);
            var pid=$("#pid").val(pid);


            //form表单
            document.formMeetingGrab.submit();


            //第一种 ajax
           /* $.ajax({
                type:"",
                url:"",
                data:{[[@{/meetinggrab/AddMeetingGrab}]]},
                success:function (msg) {
                }
            });*/

        }


        /**
         *加载课题类别
         */
        function LoadMeetingType() {

            $.ajax({
                type: "post",
                url: "[[@{/meetingtype/select}]]",
                success: function (msg) {
                    // <option value="0">可抢单</option>
                    var appendHtml = "";
                    for (var i = 0; i < msg.length; i++) {
                        appendHtml += "<option value='" + msg[i].tname + "'>" + msg[i].tname + "</option>";
                    }
                    $("#selectStatus").append(appendHtml);
                }
            });
        }

        /**
         *加载枪单的类别
         */

        function showPubDiv() {
            $("#two_line").css("border-top", "5px solid #4E90C7");
            //$("#two_tab").css("color","#777777");
            $("#one_line").css("border-top", "5px solid white");
            //$("#one_tab").css("color","white");
            $("#two").css("display", "none");
            $("#one").css("display", "block");
        }

        function showMyMeetings() {

            //加载效果
            $.mobile.loading( "show", {
                text: "加载中....",
                textVisible: true
            });

            $("#two_line").css("border-top", "5px solid white");
            $("#one_line").css("border-top", "5px solid #4E90C7");

            $("#one").css("display", "none");
            $("#two").css("display", "block");

            $("#two").empty();

            var uid = $("#uid").val();
            $.ajax({
                type:"post",
                url:"[[@{/meetinggrab/select}]]",
                data:{"uid":uid},
                success:function (msg) {

                    var appendHtml = "<font style='padding: 10px 10px 10px 15px;display: block;color: #777777;'>您共发布了"+msg.length+"场会议</font>";

                    for (var i = 0; i < msg.length; i++) {

                        var mname = msg[i].ptitle;
                        var remark = msg[i].remark;
                        var dateCurr = msg[i].pcode;
                        var grabStatus=msg[i].grabstatus;
                        var pid=msg[i].pid
                        appendHtml += "<div style='width: 100%;background-color: white;margin-top: -3px;padding:10px 10px 10px 15px;display: inline-block;'>" +
                            "<div style='width: 70%;float: left;' onclick='showMeetingInfo(\"" + 1 + "\");'>" +
                            "<div style='white-space: nowrap;overflow: hidden;text-overflow:ellipsis;display: block;font-size:18px;'>" +
                            mname + "</div>" +
                            "<div style='white-space: nowrap;overflow: hidden;text-overflow:ellipsis;display: block;color: #777777;font-size:16px;padding-top:1px'>" +
                            remark + " / " + dateCurr + "</div></div>" +
                            "<div style='width: 30%;float: right;'>";
                        if(grabStatus==1){
                            appendHtml+="<button class='able-btn' style='background-color: yellow' onclick='showMeetingInfo(\""+pid+"\")' >已抢单</button>";
                        }else if(grabStatus==0){
                            appendHtml+="未审批";
                        }else{
                            appendHtml+="抢单失败";
                        }
                        appendHtml+="</div></div>";
                    }

                    $("#two").append(appendHtml);
                    $.mobile.loading( "hide" );
                }
            });
        }

        function showMeetingInfo(pid) {
            //alert(pid);
        //     $.ajax({
        //         type:"post",
        //         url:"[[@{/meetinggrab/findMeetingInfo}]]",
        //         data:{"pid":pid},
        //         success:function (msg) {
        //
        //             //window.location.href="http:/meetinggrab/findMeetingInfo?"+pid;
        //         }
        // });
            var url="/meetingpub/findMeetingInfo?pid="+pid+"";
            //alert(url);

            window.location.href=url;
            
        }
    </script>
</head>

<body>
<div data-role="page" id="pageDetail">
    <div style="padding:0px;background-color: #4E90C7;width: 100%;height:40px;line-height:40px;font-size:18px;text-align: center;cursor: pointer;"
         data-role="none">
        <div style="width: 50%;float: left;color: white;" onclick="showPubDiv();" id="one_tab">
            抢单
            <div style="border-right: 1px solid white;float: right;margin-top: 10px;height: 20px;"></div>
        </div>
        <div style="width: 50%;float: left;color: white;" onclick="showMyMeetings();" id="two_tab">我的抢单</div>
        <div style="border-top:5px solid white;width: 50%;float: left;" id="one_line"></div>
        <div style="border-top:5px solid #4E90C7;width: 50%;float: left;" id="two_line"></div>
    </div>
    <div id="one" class="ui-body-d ui-content" style="padding:0;display: block;width: 100%;">
        <div style="padding:0 0 0 15px;display: block;width: 55%;float: left;line-height: 60px;color: #777777;">
            可参与<font id="grabNum"></font>场会议的抢单
        </div>
        <div style="width: calc(45% - 15px);float: right;">
            <select id="selectStatus" onchange="showAllGrabs(this.value)">
                <option value="-1">可抢单</option>
            </select>
        </div>
        <div id="grabDiv" style="width: 100%;float: left;">
        </div>
    </div>

    <form name="formMeetingGrab" th:action="@{/meetinggrab/AddMeetingGrab}" action="/meetinggrab/AddMeetingGrab" method="get">
        <input type="hidden" value="" th:value="${uid}" id="uid" name="uid"/>
        <input type="hidden" value="" id="pid" name="pid">
    </form>


    <div id="two" class="ui-body-d ui-content" style="padding: 0;display: none;width: 100%;">

    222255

    </div>
</div>
</body>

</html>
